section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20%;
}

.contact li {
    font-size: 1.5rem;
    list-style: none;
}

.contact li a {
    color: white;
}

.contact li a:hover {
    color: pink;
}

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px){

    body {
        display: inline;
    }

    .contact li {
        margin-left: 0;
        justify-content: baseline;
    }
}